body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/888/original/pexels-larry-snickers-2607830.jpg?1688846128);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  background: rgba(121, 194, 208, 0.5);
  border: 1px solid #dadde1;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 10px 10px rgba(232, 232, 232, 0.5);
  font-family: "M PLUS Rounded 1c", sans-serif;
  top: 20px;
  max-width: 720px;
  padding: 30px;
  position: relative;
  text-align: center;
}
h1 {
  font-weight: 700;
}
#icon {
  position: relative;
  top: -10px;
  width: 80px;
}
.current {
  left: -20px;
  position: relative;
}
.units {
  position: relative;
  top: -15px;
}
#current-temp {
  font-size: 36px;
}
#fahrenheit-link,
#celsius-link {
  color: white;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: white;
  text-decoration: none;
}
#description {
  font-size: 24px;
}
ul {
  list-style: none;
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: capitalize;
}
.open-source,
.photo-credit {
  color: white;
}
.footer {
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-top: 30px;
  position: sticky;
  text-align: center;
}
