body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/888/original/pexels-larry-snickers-2607830.jpg?1688846128);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  background: rgba(121, 194, 208, 0.5);
  border: 1px solid #dadde1;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 10px 10px rgba(232, 232, 232, 0.5);
  font-family: "M PLUS Rounded 1c", sans-serif;
  top: 20px;
  max-width: 720px;
  padding: 30px;
  position: relative;
  text-align: center;
}
h1 {
  font-weight: 700;
}
#icon {
  position: relative;
  top: -10px;
  width: 80px;
}
.current {
  left: -20px;
  position: relative;
}
.units {
  position: relative;
  top: -15px;
}
#current-temp {
  font-size: 36px;
}
#description {
  font-size: 24px;
}
ul {
  list-style: none;
  text-align: center;
  text-transform: capitalize;
}
.card-body {
  background-color: rgba(121, 194, 208, 0.6);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(232, 232, 232, 0.3);
}
.card-body:hover {
  cursor: pointer;
  background-color: rgba(121, 194, 208, 0.7);
  border: 1px solid white;
  transition: all 300ms ease-in-out;
}
.forecast-date {
  font-size: 24px;
}
.forecast-low-temp {
  opacity: 0.5;
}
a {
  color: white;
}
a:hover {
  color: #53a8b6;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}
.footer {
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-top: 30px;
  position: sticky;
  text-align: center;
}
